{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <style>

        body{
            background: url(https://s3-us-west-2.amazonaws.com/smallplex/pexels-photo-396303.jpeg) no-repeat fixed;
            background-size: cover;
        }

    </style>

    <div class="container">
{#        <hr class="my-2">#}
        <br>
        <br>
        <div class="jumbotron">
            <h1 class="display-3">Smallplex - Shares</h1>
            <p class="lead">Smallplex Shares lets you own fractional shares in a portfolio of cash-flow generating multi-family properties.</p>
        <br>
        <a href="http://eepurl.com/cWiqgz" target="_blank" role="button"
           class="btn btn-info btn-lg">Sign Up</a>
        </div>

    </div>

{% endblock %}
